.card-deck {
  display: flex;
  justify-content: center;
}

.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 74, 173, 0.5);
}
.carousel-control-prev-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 74, 173, 0.5);
}
