.card-deck {
  display: flex;
  justify-content: space-around;
}

.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: 60%;
  background-position-x: 60%;
  background-color: rgba(0, 74, 173, 0.5);
}
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: 60%;
  background-position-x: 40%;
  background-color: rgba(0, 74, 173, 0.5);
}

.carousel-control-prev {
  left: -120px;
}

.carousel-control-next {
  right: -120px;
}

.list-heading {
  display: flex;
  justify-content: center;
}
