<% @doctors.first(6).each do |doctor| %>
  <div class="vertical-card">
    <div id="top-banner">
      <div>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div>
        <i class="fas fa-heart"></i>
      </div>
    </div>
    <div>

      <%= image_tag doctor.photo, class: "vertical-card-avatar", alt: "avatar" %>

    </div>
    <div class="card-text">
      <div id="name-field">
         <%= link_to "#{doctor.prefix} #{doctor.first_name} #{doctor.last_name}", doctor_path(doctor), class: "profile2" %>
      </div>
      <div id="speciality">
        <p><%= doctor.specialty %></p>
      </div>
      <div>
       <% if doctor.status == "Offline" %>
          <div class="btn-status-offline v-card"><i class="fas fa-dot-circle"></i> </div>
        <% elsif doctor.status == "Available" %>
          <div class="btn-status-available v-card"><i class="fas fa-dot-circle"></i> </div>
        <% elsif doctor.status == "Busy" %>
          <div class="btn-status-busy v-card"><i class="fas fa-dot-circle"></i> </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
