<% @doctors.first(6).each do |doctor| %>
  <div class="vertical-card">
    <div id="top-banner">
      <div>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div>
        <i class="fas fa-heart"></i>
      </div>
    </div>
    <div>
      <%= image_tag "doctors/Thirteen.jpg", class: "vertical-card-avatar", alt: "avatar" %>
    </div>
    <div class="card-text">
      <div id="name-field">
         <%= link_to "#{doctor.prefix} #{doctor.first_name} #{doctor.last_name}", doctor_path(doctor), class: "profile2" %>
      </div>
      <div id="speciality">
        <p><%= doctor.specialty %></p>
      </div>
    </div>
  </div>
<% end %>
