<div class="container">
  <div class="search-container">
    <%= render 'shared/searchbar' %>
  </div>
  <div class="recommended">
    <div class="list-heading">
      <br>
      <h2>Recommended</h2>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="30000">
          <div class="card-deck">
              <%= render 'vertical_card', doctor: @hdoctors%>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="30000">
          <div class="card-deck">
              <%= render 'vertical_card_2', doctor: @hdoctors%>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <br>
  <br>
  <div class="all-docs">
    <div class="list-heading">
      <h2>All Doctors</h2>
    </div>
    <div class="horizontal-card-container">
      <%= render 'horizontal_card', doctor: @doctors %>
    </div>
  </div>
</div>
