<div class="doctor_dashboard">
    <div class="title"> 
      <br><h1>Dashboard</h1><br><br>
    </div>

    <div class="intro">
        <h2>Hello<%= " #{current_user.first_name} #{current_user.last_name}" %></h2>
        <p><small><%= "Joined #{current_user.created_at}" %></small></p>
    </div> 


</div>


      

      <div class="mybikes"><br>
        <h2 id="mybikes">My Bikes</h2>

<div class="patients"></div>