<div class="col-12">
  <h3>Favorite Doctors</h3>
    <div class="favorites">
        <div class="fav-grid">
          <%= render '/users/horizontal_card', doctors: current_user.all_favorited %>
        </div>
    </div>
</div>
