<div class="footer">
  <div class="footer-img">
 <%= link_to "/" do %>
      <%= image_tag "logo2.png", class: "footer-img-logo" %>
    <% end %>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-contact">
    <ul>
        <li><strong>Contact</strong></li>
        <li>Telephone: 09 322 9345</li>
        <li>Email: info@doctorspeedy.net</li>
        <li>Address: Batu Balong, Canggu, Indonesia</li>
    </ul>
    
  </div>
</div>