<div class="horizontal-card">
  <div id="top-banner">
    <div>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>
    <div>
      <i class="far fa-heart"></i>
    </div>
  </div>
  <div>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "card-avatar", alt: "avatar" %>
    <div class="card-text">
      <div id="name-field">
        <h6> Name: </h6>
      </div>
      <div id="speciality">
        <p> Specialty: </p>
      </div>
    </div>
  </div>
</div>
