<div class="horizontal-card">
  <div class="horizontal-container">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "horizontal-card-avatar", alt: "avatar" %>
    <div class="horizontal-card-text">
      <div>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
     </div>
     <br>
      <div id="name-field">
        <h4>Yanko Thomson</h4>
      </div>
      <div id="speciality">
        <p>Slaying and playing vidya games</p>
      </div>
      <div id="cost-per-min">
        <p>Cost per Min: $$$$$</p>
      </div>
    </div>
    <br>
    <div class="button-column">
      <div class="availability">
      <p>Available</p>
      </div>
      <br>
      <div class="class-buttons">
        <div class="btn btn-primary consult">
        <p>Start Consultation</p>
        </div>
        <div class="btn btn-outline-primary favorites">
        <p>Save to Favorites</p>
        </div>
      </div>
    </div>
  </div>
</div>
