<div class="how-does-it-work-doctor-container">
  <h1>How does it work ?</h1>
  <div class="hdiwd-cards">
    <div class="hditd-card">
    <%= image_tag asset_url("icons/sign-up.png"), height: 100, width: 100, crop: :fill %>
    <p>Fill our registration form, and start sharing your professional profile with the patients.</p>
    </div>
    <div class="hditd-card">
    <%= image_tag asset_url("icons/back-in-time.png"), height: 100, width: 100, crop: :fill %>
    <p>Last minute cancellation ? Mark yourself available and start online consultation within seconds.</p>
    </div>
    <div class="hditd-card">
    <%= image_tag asset_url("icons/video-call.png"), height: 100, width: 100, crop: :fill %>
    <p>Join chat and/or video consultation, access patient history, send medical report and offer follow up.</p>
    </div>
    <div class="hditd-card">
    <%= image_tag asset_url("icons/save-money.png"), height: 100, width: 100, crop: :fill %>
    <p>Get paid per minute and grow your notoriety thanks to patient reviews.</p>
    </div>
  </div>

</div>
