<div class="how-does-it-work-patient-container">
  <h1>How does it work ?</h1>
  <div class="hdiwp-cards">
    <div class="hditp-card">
    <%= image_tag asset_url("icons/sign-up.png"), height: 100, width: 100, crop: :fill %>
    <p>Sign up, create your profile and upload your medical documents.</p>
    </div>
    <div class="hditp-card">
    <%= image_tag asset_url("icons/search.png"), height: 100, width: 100, crop: :fill %>
    <p>Type in your criterias and access a list of available doctors matching your research.</p>
    </div>
    <div class="hditp-card">
    <%= image_tag asset_url("icons/video-call.png"), height: 100, width: 100, crop: :fill %>
    <p>Join chat and/or video consultation, receive medical report and get offered follow up.</p>
    </div>
    <div class="hditp-card">
    <%= image_tag asset_url("icons/piggy-bank.png"), height: 100, width: 100, crop: :fill %>
    <p>Only pay per minute and rate your experience to help the community.</p>
    </div>
  </div>
</div>
