<div class="search-bg">
  <div class="search-container">
    <%= form_tag doctors_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-control-lg",
        placeholder: "Find a doctor by name, specialty, country, language..."
      %>
      <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
