<div class="vertical-card">
  <div id="top-banner">
    <div>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>
    <div>
      <i class="far fa-heart"></i>
    </div>
  </div>
  <div>
    <%= image_tag "https://ozgrozer.github.io/100k-faces/0/1/001486.jpg", class: "vertical-card-avatar", alt: "avatar" %>
  </div>
  <div class="card-text">
    <div id="name-field">
      <h6> Name: </h6>
    </div>
    <div id="speciality">
      <p> Specialty: </p>
    </div>
  </div>
</div>
