<div class="header doc">

  <div class="content doc">

    <h1 class="banner-title doc">Join our healthcare practicioners community<br>and start growing your practice.</h1>
    <br>
    <br>
    <%# <h2 class="banner-slogan doc"></h2> %>
    <div>
      <%= link_to "Register now", new_user_registration_path, class:"btn btn-primary btn-register" %>
    </div>

  </div>
</div>
