<div class="complete-dashboard d-flex">

  <div class="sidebar">
        <%= render 'shared/sidebar' %>
  </div>

  <div class="tabs-container">
    <div class="tabs">
          <%= render 'shared/dashboard_tabs' %>
    </div>
  </div>


</div>

  <%# button trial
  <div class="btn-status-busy"><i class="fas fa-dot-circle"></i>    Busy</div>
  <div class="btn-status-offline"><i class="fas fa-dot-circle"></i>    Offline</div>
  <div class="btn-status-available"><i class="fas fa-dot-circle"></i>    Available</div> %>
