<div class="complete-dashboard d-flex">
  <div class="sidebar">
        <%= render 'shared/sidebar' %>
  </div>

  <div class="tabs-container">
    <div class="tabs">
          <%= render 'shared/dashboard_tabs' %>
    </div>
  </div>

</div>
