<div class="complete-dashboard">
  <div class="sidebar">
        <%= render 'shared/sidebar' %>
  </div>
<<<<<<< HEAD
=======

  <div class="tabs-container">
    <div class="tabs">
          <%= render 'shared/dashboard_tabs' %>
    </div>
  </div>


>>>>>>> 7009bb373268a75c46878c9af602ddbd32322011
</div>

  <%# button trial
  <div class="btn-status-busy"><i class="fas fa-dot-circle"></i>    Busy</div>
  <div class="btn-status-offline"><i class="fas fa-dot-circle"></i>    Offline</div>
  <div class="btn-status-available"><i class="fas fa-dot-circle"></i>    Available</div> %>
