
<div class="header home">
    <div class="content home">
      <div>
        <h1 class="banner-title home">Need fast medical advice ?</h1>
        <h2 class="banner-slogan home">Access within seconds to an online doctor consultation</h2>
        <br>
        <br>

        <%= render 'shared/searchbar' %>
      </div>
    </div>
</div>

<div class="howdoesitwork-patient">
<%= render 'shared/how-does-it-work-patient' %>
</div>

<div class="gradient-box">
  <div class="text">
    <h2>Are you a healthcare professional? <br>
    Sign up now and start growing your practice. </h2>
  </div>
  <%= link_to "Register as a doctor", becomespeedy_path, class:"btn btn-ghost white" %>
</div>
