
<div class="header">

    <div class="content">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      <h1 class="banner-title"><strong>Need a fast medical advise ?</strong></h1>
      <h2 class="banner-slogan">Access within seconds to an online doctor consultation</h2>
<br>
      <%= render 'shared/searchbar' %>

    </div>

</div>
