
<div class="header">

    <div class="content">
      <div>
        <h1 class="banner-title">Need a fast medical advise ?</h1>
        <h2 class="banner-slogan">Access within seconds to an online doctor consultation</h2>

        <%= render 'shared/searchbar' %>
      </div>
    </div>

</div>
