<div class="report-container">
  <div class="report-basic-info">
    <%= @reports.consultation_id %> 
  </div>

  <div class="report-description">
  </div>

  <div class="report-prescription">
  </div>

  <div class="report-doc-signature">
  </div>

  <div class="report-footer">
  </div>
</div>