<div class="report-container">
  <div class="report-basic-info">
    
    <h1>CONSULTATION REPORT</h1>
    Consultation ID:
    Date of consultation:
    Time of call: 
    Duration:
    Total Price:

    <h2>PATIENT INFORMATION</h2>
    
    Full Name: 
    ID: 
    Email: 
    Country: 

    <h2>DOCTOR INFORMATION:</h2>
    Doctor Full Name:
    Doctor ID: 
    Email:
    Country:
    Specialty:

    <h2>RATING:</h2>
    Overall_rating:
    speed_rating:
    gentleness_rating:
    professionalism_rating:
    clarity_rating:
  </div>

  <div class="report-description">
    Description: symptoms + content
    Prescription:
  </div>

  <div class="report-prescription">
  </div>

  <div class="report-doc-signature">
  </div>

  <div class="report-footer">
  </div>
</div>