<div class="box">
    <div class="skill">
        <div class="graph" style="height: 70%">
          <div class="percent">70%</div>
        </div>
        <div class="name">Speed</div>
    </div>
    <div class="skill">
        <div class="graph" style="height: 80%">
          <div class="percent">80%</div>
        </div>
        <div class="name">Gentleness</div>
    </div>
    <div class="skill">
        <div class="graph" style="height: 85%">
          <div class="percent">95%</div>
        </div>
        <div class="name">Professionalism</div>
    </div>
        <div class="skill">
        <div class="graph" style="height: 85%">
          <div class="percent">95%</div>
        </div>
        <div class="name">Clarity</div>
    </div>
</div>