<div class="complete-profile">

  <div class="horizontal-card">
    <div class="horizontal-container">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "horizontal-card-avatar", alt: "avatar" %>
        <div class="horizontal-card-text">
        <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </div>
        <br>
        <div id="name-field">
            <h4> Name: Yanko Thomson</h4>
        </div>
        <div id="speciality">
            <p> Specialty: Slaying and playing vidya games</p>
        </div>
        <div id="cost-per-min">
            <p> Cost per Min: $$$$$</p>
        </div>
        </div>
        <br>
        <div class="class-buttons">
        <div class="availability">
        <p>Available</p>
        </div>
        <br>
        <div>
            <div class="btn btn-primary consult">
            <p>Start Consultation</p>
            </div>
            <div class="btn btn-outline-primary favourites">
            <p>Save to Favourites</p>
            </div>
        </div>
      </div>
    </div>
  </div> <%#= -------------- End of big horizontal card ----------------  %>
  
  <div class="doc-basic-info">
      <div class="doc-basic-info-item">
      </div>
  
      <div class="doc-basic-info-item">
      </div>
  
      <div class="doc-basic-info-item">
      </div>
  </div> <%#= -------------- End of doc basic info ----------------  %>
  
  <div class="doc-intro">
      <div class="section-title">
        <h1>Introduction</h1>
      </div>

      <div class="section-title">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div> <%#= -------------- End of doc intro ----------------  %>

  <div class="doc-skills">
        <div class="section-title">
           <h1>Skills</h1>
        </div>

        <div class="doc-skill-list">
            <div class="doc-skill-item">
            </div>

            <div class="doc-skill-item">
            </div>

            <div class="doc-skill-item">
            </div>
        </div> 
  </div> <%#= -------------- End of doc skill ----------------  %>

    <div class="doc-diplomas">
       <div class="section-title">
          <h1>Diplomas</h1>
       </div>
      
      <div class="doc-diplo-list">
    
          <div class="doc-diplo-item">
          </div>

          <div class="doc-diplo-item">
          </div>

      </div>
    </div> <%#= -------------- End of doc diplomas ----------------  %>

    <div class="doc-reviews">

      <div class="section-title">
          <h1>Reviews</h1>
       </div>

      <div class="doc-reviews-slider">
          <div class="doc-review-item">
          </div>

          <div class="doc-review-item">
          </div>

          <div class="doc-review-item">
          </div>
      </div>
    </div> <%#= -------------- End of doc reviews ----------------  %>

    <div class="doc-cta-box">
      <div class="doc-cta-call">
      </div>

      <div class="doc-cta-save">
      </div>
    </div> <%#= -------------- End of doc cta box ----------------  %>
  </div>
</div>
