// .btn .btn-outline-primary {
//   box-shadow: 3px 3px 5px black;
// }
// .btn .btn-outline-primary &:hover {
//   color: $primary;
//   background-color: transparent;
// }

.btn.btn-ghost.white {
  color: white !important;
  background-color: transparent;
  border-color: white !important;
}

.btn.btn-ghost:hover {
  color: white !important;
  background-color: transparent;
  border-color: white !important;
  transform: scale(1.1);
}

.btn.btn-ghost {
  color: $body-color !important;
  background-color: transparent;
  border-color: $body-color !important;
}

.btn-ter {
  color: $body-color !important;
  text-decoration: underline !important;
}



.btn-status-busy {
  color: rgb(236, 153, 0);
  background-color: rgb(255, 233, 191);
  text-align: center;
  border-radius: 50px;
  padding: 6px 35px;
  .v-card {
    padding: 6px 11px;
  }
}
.btn-status-offline {
  color: rgb(100, 100, 100);
  background-color: rgb(219, 219, 219);
  text-align: center;
  border-radius: 50px;
  padding: 6px 35px;
  .v-card {
    padding: 6px 11px;
  }
}
.btn-status-available {
  color: green;
  background-color:rgb(213, 238, 213);
  text-align: center;
  border-radius: 50px;
  padding: 6px 35px;
}

.btn-status-busy.v-card {
  color: rgb(236, 153, 0);
  background-color: rgb(255, 233, 191);
  text-align: center;
  border-radius: 50px;
  padding: 6px 11px;
}
.btn-status-offline.v-card {
  color: rgb(100, 100, 100);
  background-color: rgb(219, 219, 219);
  text-align: center;
  border-radius: 50px;
  padding: 6px 11px;
}
.btn-status-available.v-card {
  color: green;
  background-color:rgb(213, 238, 213);
  text-align: center;
  border-radius: 50px;
  padding: 6px 35px;
}
