

.section-title {
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.doc-basic-info {
    max-width: 80%;
    color: white;
    padding: 32px 88px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        -100deg,
        rgba(0, 74, 173, 1),
        rgba(0, 35, 82, 1));
    border-radius: 6px;
    box-shadow: 2px 2px 5px black;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.doc-basic-info-item {
    text-align: center;
}
