.doc-basic-info {
    max-width: 80%;
    padding: 0 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.doc-basic-info-item {
    text-align: center;
}

// ----- Introduction BOX -----

.section-title {

}

.doc-intro {
    max-width: 80%;
    padding: 10px;
    margin: auto;
}

// ----- Skills BOX -----

.doc-skills {
    max-width: 80%;
    padding: 30px 60px;
    margin: auto;

}

.doc-skill-list {
    display: flex;
    justify-content: space-between;
}

.doc-skill-item {

}

// ----- Diplomas BOX -----

.doc-diplomas {
    max-width: 80%;
    padding: 10px;
    margin: auto;
}

.doc-diplo-list {
    display: flex;
    justify-content: space-between;
}

.doc-diplo-item {

}

// ----- Reviews BOX -----

.doc-reviews {
    max-width: 80%;
    padding: 10px;
    margin: auto;
}

.doc-reviews-slider {

}

.doc-review-item {

}

// ----- CTA BOX -----

.doc-cta-box {
    max-width: 26%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.doc-cta-consultation {
    box-sizing: border-box;
    margin: auto;
}
.doc-cta-save {
    box-sizing: border-box;
    margin: auto;
}