@media (min-width: 250px) {
  .how-does-it-work-patient-container {
    h1 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .hdiwp-cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .hditp-card {
    text-align: center;
    max-width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    p {
      margin-top: 25px;
    }
  }
}

@media (min-width: 600px) {
  .how-does-it-work-patient-container {
    h1 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .hdiwp-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .hditp-card {
    text-align: center;
    max-width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    p {
      margin-top: 25px;
    }
  }
}

@media (min-width: 1200px) {
  .how-does-it-work-patient-container {
    h1 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .hdiwp-cards {
    display: flex;

    align-content: center;
    align-items: center;

    justify-content: space-evenly;
    flex-direction: row;

  }

  .hditp-card {
    text-align: center;
    max-width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    p {
      margin-top: 25px;
    }
  }
}
