.navbar-lewagon {
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  padding-top: 5px;
  box-shadow: 0 0px 20px 0.005px lightgrey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 150px;
}

.navbar-light .navbar-nav .nav-link {
  color: $primary;
}

.nav-bar-btn {
  color: white;
  text-decoration: none;
}

.nav-cta-btn {
  margin-right: 10px;
  margin-left: 15px;
}

.dropdown {
  margin-right: 10px;
  margin-left: 15px;
}

.dropdown-item {
  color: $primary
}