.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex !important;
  width: -webkit-fill-available;
}

.search-container {
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-box {
  width: 900px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 15px 30px;
  border-radius: 6px;
}

.search-button {
  margin-left: 25px;
  color: #002352;
}

.btn-search {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}

.search-placeholder {
  font-size: 16px;
  color: grey;
}

.search-bar-label {
  font-size: 18px;
  color: white;
  font-weight: bold;
  width: 200px;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
