.sessions-card {
  border-radius: 6px;
  margin: 15px auto;
  box-shadow: 0 0 15px rgba(0,75,173,0.2);
  display: grid;
  grid-template-columns: 0.7fr 1fr 1.5fr 0.8fr;
  width: 100%;
  background-color: white;
  padding: 25px 0px;
}

.sessions-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.sessions-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sessions-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
}

.sessions-card-review {
  margin: auto 0;
  max-width: 300px;
  p {
    font-size: 14px;
  }
}

.sessions-card-text {
  font-size: 14px;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.session-pic {
  margin: auto auto;
  margin-right: 75px;
}
