.sessions-card {
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  margin: 10px;
  box-shadow: 1px 1px 3px $primary;
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

.sessions-container {
  display: flex;
  flex-direction: column;
}

.sessions-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sessions-btns {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.pic_and_info {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  padding: 25px 50px;
}

.sessions-card-review {
  margin: auto 0;
  max-width: 250px;
  p {
    font-size: 14px;
  }
}

.sessions-card-text {
  font-size: 14px;
}
