.sessions-card {
  border-radius: 6px;
  padding: 20px;
  margin: 15px auto;
  box-shadow: 0 0 15px rgba(0,75,173,0.2);
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr;
  width: 100%;
  background-color: white;
}

.sessions-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.sessions-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}

.sessions-btns {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-top: 25px;
}

.pic_and_info {
  display: flex;
  // flex-direction: column;

  align-items: center;
  // padding: 25px 25px;
  margin-left: 25px;
}

.sessions-card-review {
  margin: auto 0;
  max-width: 300px;
  p {
    font-size: 14px;
  }
}

.sessions-card-text {
  font-size: 14px;
}

.ratings {
  display: flex;
  justify-content: space-between;
}
