.fullsidebar {
 max-width: 300px;
 padding: 2rem 1rem;
 background-color: #C4D0E9;
 height: 81vh;
 text-align: center;
 display: block;
 h2 {
   font-size: 32px;
   padding-top: 25px;
   padding-bottom: 25px;
 }
}
