.horizontal-card {
  border: 1px solid black;
  width: 180px;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}
#top-banner {
  display: flex;
  justify-content: space-between;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#name-field {
  font-size: 16px;
}
#speciality {
  font-size: 14px;
}
