.vertical-card {
  width: 180px;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 10px $primary;
  #name-field {
    font-size: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    height: 40px;
  }
}
.vertical-card:hover {
  width: 180px;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 15px $primary;
}
#top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#speciality.v-card {
  font-size: 14px;
  display: flex;
  text-align: center;
  align-content:flex-start;
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
 .profile2 {
   text-decoration: none;
   font-size: 16px;
   color: black;
 }
 .profile2:hover {
   text-decoration: none;
   font-size: 17px;
   color: black;
 }

.doc-status {

}

#vert-img {
  display: flex;
  justify-content: center;
}
