<div class="complete-container">
  <div class="report-container">
      <div class="report-header">
            
      </div>
      
      <div class="report-body">
            <div class="report-basic-info">
                
                <div class="report-patient-info">
                </div>
                
                <div class="report-doctor-info">
                </div>

            </div>

            <div class="report-data">
                
                <div class="report-content">
                </div>
                
                <div class="report-prescription">
                </div>

            </div>
      </div>
      
      <div class="report-signature-box">
        <div class="report-doc-signature">
        </div>
      </div>

      <div class="report-footer">
      </div>
  </div>
</div>
